{% extends "notes/base.html" %}
{% block main %}
<div class="container-fluid d-flex px-4 py-5 my-3 justify-content-center ">
    <div class="col card shadow mx-5">
        <div class="d-flex flex-column card-body ">
        <h1 class="text-center mb-4 text-body-emphasis">О сайте</h1>
        <p class="fs-2 text-body-emphasis fs-4">Данный сайт, учебный проект, для изучения фреймворка Django.
            Здесь реализована регистрация и авторизация пользователей. Добавление, изменение, удаление заметок.</p>
    </div>
    </div>
</div>
{% endblock main %}